body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header,
footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 1em;
}

header nav a,
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5em;
}

section {
    padding: 1em;
    max-width: 800px;
    margin: auto;
}

svg {
    border: 1px solid #ccc;
    margin-top: 1em;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 1em;
}